@model List<Registry.WEB.Models.OrganizationViewModel>
@using Registry.WEB.Models
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Organizations";
}

<h2>Organizations</h2>

<div id="grid"></div>

<script>
        $(document).ready(function () {
            var crudServiceBaseUrl = "https://demos.telerik.com/kendo-ui/service",
                dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "/HomeController/Read_Organizations",
                            dataType: "jsonp"
                        },
                        update: {
                            url: crudServiceBaseUrl + "/HomeController/Update_Organization",
                            dataType: "jsonp"
                        },
                        destroy: {
                            url: crudServiceBaseUrl + "/HomeController/Disable_Organization",
                            dataType: "jsonp"
                        },
                        create: {
                            url: crudServiceBaseUrl + "/HomeController/Create_Organization",
                            dataType: "jsonp"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            }
                        }
                    },
                    batch: true,
                    pageSize: 20,
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Id: { editable: false },
                                Name: { validation: { required: true } },
                                BIN: { type: "number", validation: { required: true, max: 12 } },
                                PhoneNumber: { type: "string" },
                                BeginDate: { type: "object", validation: { required: true } }
                            }
                        }
                    }
                });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                pageable: true,
                height: 550,
                toolbar: ["create"],
                columns: [
                    { field: "Name" },
                    { field: "BIN", format: "{0:c}", width: "120px" },
                    { field: "PhoneNumber", title: "Phone Number", width: "120px" },
                    { field: "BeginDate", title: "Begin Date", width: "120px" },
                    { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }],
                editable: "popup"
            });
        });

</script>



@*<div class="container" style="margin-top: 100px">
    @(Html.Kendo().Grid<Registry.WEB.Models.OrganizationViewModel>()
        .Name("OrganizationsGrid")
        .Columns(columns =>
        {
            columns.Bound(o => o.Name).Width(200);
            columns.Bound(o => o.BIN).Width(200);
            columns.Bound(o => o.PhoneNumber).Width(200);
            columns.Bound(o => o.BeginDate).Width(200);
            columns.Command(command => { command.Edit(); command.Destroy(); });
        })
        .ToolBar(toolBar => toolBar.Create())
        .Editable(editable => editable.Mode(GridEditMode.PopUp))
        .Pageable()
        .Scrollable()
        .Sortable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Model(model => model.Id(o => o.Id))
            .Read(read => read.Action("Read_Organizations", "Home"))
            .Create(create => create.Action("Create_Organization", "Home"))
            .Update(update => update.Action("Update_Organization", "Home"))
            .Destroy(destroy => destroy.Action("Disable_Organization", "Home"))
        )
    )
</div>*@





@* Code below is for testing the data transition from DB to the Presentation layer*@

@*<div class="container">
    <table class="text-center">
        <tr>
            <th class="text-center" style="width: 200px">Id</th>
            <th class="text-center" style="width: 200px">Name</th>
            <th class="text-center" style="width: 200px">BIN</th>
            <th class="text-center" style="width: 200px">Phone Number</th>
        </tr>
        @foreach(OrganizationViewModel item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.BIN</td>
                <td>@item.PhoneNumber</td>
            </tr>
        }
    </table>
</div>*@